{% extends "projects_layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  {% if session.logged_in %}
    <form action="/projects/new" method="POST" class="col-lg-4" role="form">
      {{ render_field(form.name, "project name") }}
      {{ render_field(form.description, "description") }}
      {{ form.csrf_token }}
      <button type="submit" class="btn btn-default">Add Project</button>
    </form>
  {% else %}
    You need to <a href="/login">login</a> or <a href="/register">register</a> to create projects.
  {% endif %}
{% endblock %}
