{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ project.name }}</div>
    <div class="panel-body">{{ project.description }}</div>
  </div>
  {% if bugs %}
    <div>
    {% for bug in bugs %}
      {% if not bug.is_closed %}
        <div>
          <a href="/bugs/{{ bug.id }}">{{ bug.title }}</a> <span>{{ bug.author }}</span>
          <span>{{ bug.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
	  {% if session.logged_in %}
	    <form action="/close_bug/{{ bug.id }}" method="GET">
	      <button type="submit" class="btn btn-default">Close bug</button>
	    </form>
	  {% endif %}
          <hr />
          <p>{{ bug.body }}</p>
          <hr />
          Comments: {{ bug.comments_count }}
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  {% if session.logged_in %}
    <p>
      Add bug: <br />
      <form action="/projects/{{ project.id }}" method="POST" class="col-lg-4">
        <input type="hidden" value="{{project.id}}" name="project_id" />
        {{ render_field(form.title) }}
        {{ render_field(form.body) }}
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-default">Add Bug</button>
      </form>
    </p>
  {% endif %}
{% endblock %}
