{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
<div class="bug">
	{{ bug.title }}
	<hr />
	<p>{{ bug.body }}</p>
</div>
<div class="comments">
	{% for comment in bug.comments %}
		<div class="comment">
			<span class="author">{{ comment.author }}</span>
			<span class="created_at">{{ comment.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span><br />
			{{ comment.body }}
		</div>
	{% endfor %}
</div>
{% if session.logged_in %}
	Add comment: <br />
	<form autocomplete="off" action="/bugs/{{ bug.id }}" method="POST" >
		{{ render_field(form.body) }}
		{{ form.csrf_token }}
		<button type="submit" class="btn btn-default">Add comment</button>
	</form>
{% endif %}
{% endblock %}
