{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ project.name }}</div>
    <div class="panel-body">{{ project.description }}</div>
  </div>
  {% if issues %}
    {% for issue in issues %}
      {% if issue.status != "Closed" %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/issues/{{ issue.id }}">{{ issue.title }}</a> <span>{{ issue.author }}</span>
            <span>{{ issue.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
            <span>status: {{ issue.status }}, category: {{ issue.category }}</span>
            {% if session.logged_in %}
              {% if current_user.is_admin(): %}
                <a href="/admin/issue/edit/?url=%2Fadmin%2Fissue%2F&id={{ issue.id }}">
                <span class="glyphicon glyphicon-edit"></span>
                </a>
              {% endif %}
            {% endif %}
          </div>
          <div class="panel-body">
            {{ issue.body }}
          </div>
          <div class="panel-footer">
            Comments: <span class="badge">{{ issue.comments_count }}</span>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if session.logged_in %}
    <p>
      Add issue: <br />
      <form action="/projects/{{ project.id }}" method="POST" class="col-lg-4">
        <input type="hidden" value="{{project.id}}" name="project_id" />
        {{ render_field(form.title) }}
        {{ render_field(form.body) }}
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-default">Add Bug</button>
      </form>
    </p>
  {% endif %}
{% endblock %}
