{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ project.name }}</div>
    <div class="panel-body">{{ project.description }}</div>
  </div>
  {% if issues %}
    <div>
    {% for issue in issues %}
      {% if not issue.is_closed %}
        <div>
          <a href="/issues/{{ issue.id }}">{{ issue.title }}</a> <span>{{ issue.author }}</span>
          <span>{{ issue.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
	  {% if session.logged_in %}
	    <form action="/close_issue/{{ issue.id }}" method="GET">
	      <button type="submit" class="btn btn-default">Close issue</button>
	    </form>
	  {% endif %}
          <hr />
          <p>{{ issue.body }}</p>
          <hr />
          Comments: <span class="badge">{{ issue.comments_count }}</span>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  {% if session.logged_in %}
    <p>
      Add issue: <br />
      <form action="/projects/{{ project.id }}" method="POST" class="col-lg-4">
        <input type="hidden" value="{{project.id}}" name="project_id" />
        {{ render_field(form.title) }}
        {{ render_field(form.body) }}
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-default">Add Bug</button>
      </form>
    </p>
  {% endif %}
{% endblock %}
