body {
	background-color: #210672;
	color: #B9F73E;
}
a {
	color: #FF7800;
}
a:hover {
	text-decoration: none;
}
p {
	padding-left: 10px;
}
hr {
	color: #210672;
}
.project {
	background-color: #422C83;
	border: 1px solid #9FEE00;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
.bugs {
	padding-left: 20px;
}
.bug {
	background-color: #422C83;
	border: 1px solid #9FEE00;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
.comments {
	padding-left: 20px;
}
.comment {
	background-color: #422C83;
	border: 1px solid #9FEE00;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
.author {
	color: #86B32D;
}
.created_at {
	color: #C9F76F;
}
